@use '../../variables.scss' as values;
@use '../../breakpoints.scss' as breakpoints;

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
  // height: 250px;

  // @include breakpoints.mobile {
  //   width: 150px;
  // }

  &:hover {
    .cardImage {
      filter: blur(1px);
    }
    .cardDetails {
      bottom: 0;
      opacity: 1;
    }
  }
}

.cardDetails {
  position: absolute;
  bottom: -40px;
  width: 100%;
  padding: 10px;
  background: rgb(25, 24, 23);
  background: linear-gradient(
    0deg,
    rgba(25, 24, 23, 1) 1%,
    rgba(25, 24, 23, 0.4738270308123249) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  transition: all 0.3s;

  div {
    display: flex;
    justify-content: space-between;
  }
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.year {
  font-size: 1rem;
}

.rating {
  font-weight: 900;
  font-size: 1.2rem;
  color: values.$color-primary;

  span {
    font-size: 1.1rem;
    margin-left: 2px;
    color: values.$color-light;
  }
}
