@use './variables.scss' as values;
@use './breakpoints.scss' as breakpoints;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset browser default */
html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include breakpoints.tablet {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include breakpoints.mobile {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include breakpoints.large {
    font-size: 75%; //1rem = 12, 12/16
  }
}

a {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

body {
  background-color: values.$color-dark;
  line-height: 1;
  color: values.$color-light;
  font-family: 'Montserrat Alternates', sans-serif !important;
}

section {
  margin-bottom: 50px;
  padding: 0 30px;
}

button {
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  outline: none;
}
main {
  background-color: values.$color-dark-alt;
  color: values.$color-light;
  overflow-x: hidden;
  padding-left: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
ol,
ul {
  list-style: none;
  padding-left: 0;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote,
q {
  quotes: '' '';
}

img {
  max-width: 100%;
}

.dashboard {
  height: 100%;
}

.heading__section {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.moreBtn {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;

  button {
    text-transform: uppercase;
    background: transparent;
    border: none;
    color: values.$color-light;
    border-bottom: 1px solid values.$color-light;
    padding-bottom: 5px;
    font-size: 1.2rem;
    outline: none;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: values.$base-padding;
  font-size: 0.8rem;
  background-color: #000;
  margin-left: -20px;
  margin-top: auto;

  p {
    margin-bottom: 0;
  }
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;

  span {
    font-weight: 500;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.page-center {
  @include values.absCenter;
}
